html{
    font-size: 8px;
}

body {
    margin: 0;
}

@media screen and (max-width:768px){
    
    nav{
        background-color: #3C3A39;
        display: flex;
        padding: 2%;
        justify-content: space-between;
        
    }
    
    nav a {
        margin: 0;
        color: white;
        text-decoration: none;
        font: 700 2rem "Roboto";
        transition: all 0.3s ease-in-out;

    }

    nav a:hover{
        transform: translateX(20px) scale(1.3);
    }

    
    nav button{
        background-color: transparent;
        border: none;
        align-items:end;
        transition: all 0.3s ;
    }
    
    nav button:hover{
        cursor: pointer;
        transform: translateX(-10px) scale(1.2);
        
    }
    
    
    .Headline{
        background: #1C1A19 url("images/Back Image.png") no-repeat scroll bottom right;
        padding: 20% 0% 8% 6%;
        height: 590px;
    }


    
    .Primary-text{
        width: 327px;
        height: 124px;
        padding-top: 10%;
    }
        
    .Primary-text h1{
        color: #FF6B00;
        margin-top: 0;
        font: 550 7rem 'Crete Round';
    }
    
    .Supporting-Text{
        font:  700 3rem "Roboto" ;
        color: #FFF5E1;
        padding-top: 3%;
    }
    
    .Supporting-Text h4{
        margin: 0 ;
    }
    
    .Description{
        width: 327px;
        height: 150px;
        
    }
    
    .Description p{
        font: 400 2.5rem/1.25 Arial, Helvetica, sans-serif;
        color: #FFFFFF;
    }
    
    
    .Social-Media{
        display: flex;
    }
    
    .Social-Media button{
        background-color: transparent;
        border: none;
        width: 40px;
        height: 40px;
        padding-top: 4%;
        
        transition: all 0.3s;
    }
    
    .Social-Media button:hover{
        cursor: pointer;
        transform: translateY(-8px);
    }



    .Recent-Works{
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 120px;
        padding: bottom 120px;
    }

    .Recent-Works > h1 {
        padding-bottom: 24px;
        border-bottom: 1px solid black;
        margin-bottom: 60px;
        font-size: 5rem;
    }

    .Multi-Post{
        display: flex;
        flex-direction: column;
        align-content: center;
        width: 80vw;
    }

    .Multi-Post > h2{
        margin-bottom: 0;
        font-size: 4rem;
    }

    .Multi-Post p{
        font-size: 2rem;
    }


    .Project-Buttons button{
        background-color: transparent;
        border: 1px solid black;
        padding:10px;
        margin-right: 12px;
        
    }

    .Project-Buttons button{
        transition: all 0.3s;
    }

    .Project-Buttons button:hover{
        transform: translateY(-8px);
        cursor: pointer;
    }

    .Multi-Post > button {
        width:fit-content;
        background-color: #FF6B00;
        border: none;
        color: white;
        padding: 12px;
        font: 800 2rem 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

        transition: all 0.3s;
    }

    .Multi-Post > button:hover{
        transform: translateY(-8px);
        font-size: 2.6rem;
        cursor: pointer;
    }


    .PAPD{
        background-image: url("images/PAPD-background.png");
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        align-content: center;
        width: 80vw;
        height: 386px;
        position: relative;
    }

    .Art-textblock{
        padding-top: 64px;
        color: white;
        margin-left: 10px;
        margin-right: 10px;
    }

    .Art-textblock h2{
        font-size: 4rem;
        margin-bottom: 0;
    }

    .Art-textblock p{
        font: 400 2rem 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .Art-Buttons button{
        background-color: rgba(128, 128, 128, 0.6);
        color: white;
        border: none;
        padding:10px;
        margin-right: 12px;
        font-size: 2rem;

        transition: all 0.3s;
    }

    .Art-Buttons button:hover{
        transform: translateY(-8px);
        cursor: pointer;
    }

    .PAPD .See{
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: #FF6B00;
        border: none;
        color: white;
        padding: 16px;
        font: 800 2rem 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

        transition: all 0.3s;
    }

    .PAPD .See:hover{
        font-size: 2.7rem;
        cursor: pointer;
    }



    .About-Me{
        background-color: #1C1A19;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
    }

    .Personal{
        padding-top: 60px;
        width: 80vw;
        
    }

    .For-image{
        height: 212px;
        width: 100vw;
        background: url("images/Personal-Background.png") no-repeat bottom right ;
    }


    .Personal h1{
        color: #FF6B00;
        font-size: 8rem;
        margin-bottom: 0;
        align-items: center;
    }

    .Personal p{
        font-size: 2rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        
    }

    .Personal button{
        background-color: #FF6B00;
        padding: 8px;
        border: none;
        color: white;
        font-weight:600;

        transition: all 0.3s;
    }

    .Personal #resume:hover {
        font-size: 2rem;
    }

    #Divide-Bar{
        width:80vw;
    }

    .Ability{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Ability h2{
        font: 400 4rem Roboto;
    }

    .Orange{
        margin-right: 24px;
    }

    .Ability h4{
        font: 300 2.5rem Roboto;
    }

    .Contact{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
    }

    .Contact h1{
        width: 80vw;
        font: 700 4rem 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
    }

    .Contact form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #fname{
        border-top:none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid ;
        margin-bottom: 24px;
        padding: 8px 0 12px 8px;
        border-color: #bebebe;
        
    }

    #E-mail{
        border-top:none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid ;
        margin-bottom: 24px;
        padding: 8px 0 12px 8px;
        border-color: #bebebe;
    }

    #Notes{
        border: none;
        padding: 12px;
        font: italic 200 1.8rem 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        background-color:rgba(220, 220, 220, 0.2);
    }

    #Get-in-touch{
        background-color: #FF6B00;
        padding: 16px;
        border: none;
        color: white;
        font-weight:600;
        margin-bottom: 80px ;

        transition: all 0.3s;
    }

    #Get-in-touch:hover{
        scale: 1.12;
    }

    .Contact .Social{
        display: flex;

    }

    .Contact .Social button{
        background-color: transparent;
        border: none;
        padding: 0 8px 16px 8px;

        transition: all 0.3s;
    }

    .Contact .Social button:hover{
        cursor: pointer;
        transform: translateY(-8px);
    }

    
}
